$bg-color: blue;
$primary-color: #6699CC;
$secondary-color:blue;
$accent-color: blue;

// mixins
@mixin flex-style($flow, $justify) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: $flow;
  justify-content: $justify;
}

@mixin box-style($style) {
  -webkit-box-sizing: $style;
  -moz-box-sizing: $style;
  box-sizing: $style; 
}

@mixin border-style() {
  border: 1px solid pink;
}


#column-wrapper {
  @include flex-style(row wrap, center);
  align-items: flex-start;
  width: 100%;

  #cards-list {
    @include border-style();
    margin: 5px;
 
  

    #card {
      @include border-style();
      margin: 0px 10px 10px 10px;
      color: pink;
      font-family: 'sans-serif';
        width: 250px;
        margin: 10px;
      }      
    }
  
}
