#column-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%; }
  #column-wrapper #cards-list {
    border: 1px solid pink;
    margin: 5px; }
    #column-wrapper #cards-list #card {
      border: 1px solid pink;
      margin: 0px 10px 10px 10px;
      color: pink;
      font-family: 'sans-serif';
      width: 250px;
      margin: 10px; }
